<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Primary Research{% endblock %}
{% block content %}

<html>
    <head>
        <title> Primary Research </title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/custom.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    </head>
    <body>
        <section class="py-5">
            <div class="container">
                <h2 class="font-weight-light"> Primary Research Training Module</h2>
            </div>
        </section>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTBJqg-jMW-JnCRqHiucZNZSIXFBXZoVr0qV0ZZiTgkPkY97zLU71n7xfUb01VcEGKqbjfPOoQWK4w0/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="600px"></iframe>
        <p><br><br></p>
        <strong> Once you have completed the training module, please complete the learning assesment found <a href="https://umich.qualtrics.com/jfe/form/SV_71zJQuhhM0fGDWt">here</a>.</strong>
        <p><br><br></p>
        <strong>White Paper </strong>
        <p></p>
        <embed src="/static/pdf/Primary_Research_White_Paper.pdf#toolbar=0" width="80%" height="500px">
    </body>
</html>

{% endblock %}
